[osc]
# best fit values from NuFitv3.1
theta12 = 33.63 units.deg

theta13_nh = 8.52 +/- 0.15 units.deg
theta13_nh.3s_range = [8.07, 8.98] * units.deg

theta13_ih = 8.55  +/- 0.14 units.deg
theta13_ih.3s_range = [8.11, 8.98] * units.deg

theta23_nh = 48.7 units.deg
theta23_nh.range = [30, 60] * units.deg
theta23_nh.3s_range = [39.3, 52.4] * units.deg

theta23_ih = 49.1 units.deg
theta23_ih.range = [30, 60] * units.deg
theta23_ih.3s_range = [40.3, 52.4] * units.deg

deltacp = 0 units.deg
deltacp.range = [0,360] * units.deg

deltam21 = 7.40e-5 units.eV**2

deltam31_nh = 0.002515 units.eV**2
deltam31_nh_gauss = 0.002515 +/- 0.000035 * units.eV**2
deltam31_nh.range = [0.001, +0.007] * units.eV**2
deltam31_nh.3s_range = [0.002408, 0.002621] * units.eV**2

deltam31_ih = -0.002409 units.eV**2
deltam31_ih_gauss = -0.002409 +/- 0.0000345 units.eV**2
deltam31_ih.3s_range = [-0.002515, -0.002305] * units.eV**2
deltam31_ih.range = [-0.007, -0.001] * units.eV**2
