# Atmospheric mixing parameters found in NuFIT v2.0
# http://www.nu-fit.org/?q=node/92
theta12 = 33.48 units.deg

theta13_nh = 8.5 +/- 0.205 units.deg
theta13_nh.range = [7.85, 9.1] * units.deg

theta13_ih = 8.51  +/- 0.205 units.deg
theta13_ih.range = [7.87, 9.11] * units.deg

theta23_nh = 42.3 units.deg
theta23_nh.range = [31, 59] * units.deg
theta23_nh.prior = spline
theta23_nh.prior.data = priors/nufitv20shiftedtheta23splines.json

theta23_ih = 49.5 units.deg
theta23_ih.range = [31, 59] * units.deg
theta23_ih.prior = spline
theta23_ih.prior.data = priors/nufitv20shiftedtheta23splines.json

deltacp_nh = 306 units.deg
deltacp_nh.range = [0,360] * units.deg

deltacp_ih = 254 units.deg
deltacp_ih.range = [0,360] * units.deg

deltam21 = 7.5e-5 units.eV**2

deltam31_nh = 2.457e-3 units.eV**2
deltam31_nh_gauss = 2.457e-3 +/- 0.047e-3 units.eV**2
deltam31_nh.3s_range = [2.317e-3, 2.607e-3] * units.eV**2
deltam31_nh.range = [1e-3, 7e-3] * units.eV**2

deltam31_ih = -2.374e-3 units.eV**2
deltam31_ih_gauss = -2.374e-3 +/- 0.0475e-3 units.eV**2
deltam31_ih.3s_range = [-2.515e-3, -2.232e-3] * units.eV**2
deltam31_ih.range = [-7e-3, -1e-3] * units.eV**2
