# Atmospheric mixing parameters found in NuFIT v2.2
# http://www.nu-fit.org/?q=node/123

theta12 = 33.72 units.deg

theta13_nh = 8.46 +/- 0.145 units.deg
theta13_nh.range = [8.0, 8.89] * units.deg

theta13_ih = 8.48 +/- 0.15 units.deg
theta13_ih.range = [8.03, 8.92] * units.deg

theta23_nh = 41.5 units.deg
theta23_nh.range = [31, 59] * units.deg
theta23_nh.prior = spline
theta23_nh.prior.data = priors/nufitv22shiftedtheta23splines.json

theta23_ih = 49.9 units.deg
theta23_ih.range = [31, 59] * units.deg
theta23_ih.prior = spline
theta23_ih.prior.data = priors/nufitv22shiftedtheta23splines.json

deltacp_nh = 289 units.deg
deltacp_nh.range = [0,360] * units.deg

deltacp_ih = 269 units.deg
deltacp_ih.range = [0,360] * units.deg

deltam21 = 7.49e-5 units.eV**2

deltam31_nh = 2.526e-3 units.eV**2
deltam31_nh_gauss = 2.526e-3 +/- 0.038e-3 units.eV**2
deltam31_nh.3s_range = [2.413e-3, 2.645e-3] * units.eV**2
deltam31_nh.range = [1e-3, 7e-3] * units.eV**2

deltam31_ih = -2.443e-3 units.eV**2
deltam31_ih_gauss = -2.443e-3 +/- 0.0375e-3 units.eV**2
deltam31_ih.3s_range = [-2.559e-3, -2.331e-3] * units.eV**2
deltam31_ih.range = [-7e-3, -1e-3] * units.eV**2
