features: [sensor_pos_x, sensor_pos_y, sensor_pos_z, t]
graph_definition:
  arguments:
    columns: [0, 1, 2]
    detector:
      arguments: {}
      class_name: Prometheus
    dtype: torch.float32
    nb_nearest_neighbours: 8
    node_definition:
      arguments: {}
      class_name: NodesAsPulses
    input_feature_names: [sensor_pos_x, sensor_pos_y, sensor_pos_z, t]
  class_name: KNNGraph
index_column: event_no
loss_weight_column: null
loss_weight_default_value: null
loss_weight_table: null
node_truth: null
node_truth_table: null
path: $GRAPHNET/data/examples/sqlite/prometheus/prometheus-events.db
pulsemaps: total
seed: null
selection: null
string_selection: null
truth: [injection_energy, injection_type, injection_interaction_type, injection_zenith,
  injection_azimuth, injection_bjorkenx, injection_bjorkeny, injection_position_x,
  injection_position_y, injection_position_z, injection_column_depth, primary_lepton_1_type,
  primary_hadron_1_type, primary_lepton_1_position_x, primary_lepton_1_position_y,
  primary_lepton_1_position_z, primary_hadron_1_position_x, primary_hadron_1_position_y,
  primary_hadron_1_position_z, primary_lepton_1_direction_theta, primary_lepton_1_direction_phi,
  primary_hadron_1_direction_theta, primary_hadron_1_direction_phi, primary_lepton_1_energy,
  primary_hadron_1_energy, total_energy]
truth_table: mc_truth
